body{
	background-color: #dddddd;
	font-size: 12pt;
}

#content{
	width: 900px;
	margin: auto;
}

.contents{
	height: 533px;
	overflow: hidden;
}

header{
	margin: auto;
	margin-top: 25px;
	display: block;
	overflow: hidden;
	width: 790px;
}

header nav{
	float: right;
	margin-top: 65px;
}

header nav, header nav a{
	color: #13235b;
}

header nav span,header nav a{
	margin-left: 15px;
	text-decoration: none;
}

header nav a.fb{
	background-image: url(../images/facebook.png);
	background-repeat: no-repeat;
	background-size: 15px;
	padding-left: 18px;
	background-position-y: 1px;
}

header nav span:hover, header nav span.cur, header nav a:hover, header nav a.cur{
	cursor: pointer;
	color: #233fa0;
}

.logo{
	background-image:url(../images/logo.png);
	background-repeat: no-repeat;
}

header .logo{
	height: 85px;
	width:	120px;
	float:	left;
	background-size: 100px;
}

footer .logo{
	width: 200px;
	height: 200px;
	background-size: 200px;
	margin-top: 35px;
	margin-left: 625px;
}

.onlyBackground #backgrounds article section{
	display: none;
}

#backgrounds article{
	margin-left: 50px;
	font-size: 0.8em;
	display: none;
}

#backgrounds article.act{
	display: block;
}

#backgrounds img{
	width: 800px;
	height: 533px;
	z-index: -1;
	position: absolute;
}

#backgrounds .next, #backgrounds .prev{
	width: 50px;
	min-height: 533px;
	background-color: black;
	font-size:60pt;
	padding-top:200px;
	text-align: center;
	color: darkgrey;
}

#backgrounds .next:hover, #backgrounds .prev:hover{
	cursor: pointer;
	color: #233fa0;
}

#backgrounds .next{
	float: right;
}

#backgrounds .prev{
	float: left;
}

#backgrounds section, #pages article{
	background-color: rgba(255,255,255,0.6);
	padding: 10px;
	display: block;
	position: absolute;
	border: 1px solid darkgrey;
	box-shadow: 0px 0px 1px 1px lightgrey;
	border-radius: 2px;
}

#backgrounds section{
	width: 275px;
}

#backgrounds section h2{
	margin-top: 0px;
	margin-bottom: 0px;
}

#backgrounds section p{
	margin-top: 5px;
	margin-bottom: 5px;
}

#pages article{
	display: none;
	width: 350px;
}

#pages article.display{
	display: block;
}

h4{
	margin-top: 10px;
	margin-bottom: 0px;
}
